// compileExpanded: ../../css/login/$1.css

@import '../_setting';


.password_text {
  min-height: 36px;
}

.login-form {
  .login-btn {
    margin: 25px 0 50px;
  }
  .password-reset {
    display: block;
    margin: 0 0 20px;
    font-size: 12px;
    color: $p-black;
    text-align: center;
    text-decoration: underline;
  }
}
