.icon-money {
  background: url('~@/assets/img/common/icon-money.svg') no-repeat;
  background-size: contain;
}

.icon-ticket {
  background: url('~@/assets/img/common/icon-ticket.svg') no-repeat;
  background-size: contain;
}

.icon-lists {
  background: url('~@/assets/img/common/icon-lists.svg') no-repeat;
  background-size: contain;
}

.icon-lists_done {
  background: url('~@/assets/img/common/icon-lists_done.svg') no-repeat;
  background-size: contain;
}

.icon-city1 {
  background: url('~@/assets/img/common/icon-city1.png') no-repeat;
  background-size: contain;
}

.icon-city2 {
  background: url('~@/assets/img/common/icon-city2.png') no-repeat;
  background-size: contain;
}

.icon-city3 {
  background: url('~@/assets/img/common/icon-city3.png') no-repeat;
  background-size: contain;
}

.icon-adult {
  background: url('~@/assets/img/common/icon-adult.svg') no-repeat;
  background-size: contain;
}

.icon-child {
  background: url('~@/assets/img/common/icon-child.svg') no-repeat;
  background-size: contain;
}

.icon-day1 {
  background: url('~@/assets/img/common/icon-day1.svg') no-repeat;
  background-size: contain;
}

.icon-day2 {
  background: url('~@/assets/img/common/icon-day2.svg') no-repeat;
  background-size: contain;
}

.icon-all {
  background: url('~@/assets/img/common/icon-all.svg') no-repeat;
  background-size: contain;
}

.icon-logout {
  background: url('~@/assets/img/common/icon-logout.svg') no-repeat;
  background-size: contain;
}

.icon-right_blue {
  background: url('~@/assets/img/common/arrow-right_blue.svg') no-repeat;
  background-size: contain;
}
