$white: #FFFFFF;

$black: #323232;
$text-black: #333;
$p-black: #555;

$dark-gray: #5A7F91;
$light-gray: #F5F7F9;
$border-gray: #E9E9E9;
$list-gray: #F2F5F6;
$radio-border: #DDDDDD;
$btn-shadow: rgba(90,127,145, .4);
$disabled: #969696;

$red: #FD7D6F;
$text-red: #F87061;
$bg-red: #FFF8F8;
$dark-red: #F78282;

$green: #B8DD40;
$dark-green: #62BF88;
$bg-green: #F2FFF7;

$blue: #52A3CB;
$blue-cerulean: #479ACB;
$border-blue: #D9E7EF;
$list-blue: #F0F7FB;

$orange: #F7911B;
